/*// BASE STYLES //*/

html, body{
  height: 100%;
  width:100%;
  overflow: hidden;
  margin: 0;
}

.grass, .sky, .road{
  position: relative;
}

.sky{
  height: 40%;
  background: black;
  animation:skychange 10s infinite linear both alternate;


}
.star{
  width: 4px;
  height:4px;
  position: absolute;
  top:150px;
  left:80px;
  background-color: #fff;
  border-radius: 50%;
  opacity:1;
  box-shadow: #fff 26px 7px 0 -1px,
              rgba(255, 255, 255, 0.1) -36px -34px 0 -1px,
              rgba(255, 255, 255, 0.1) -51px -34px 0 -1px,
              #fff -52px 62px 0 -1px,
              #fff 14px -37px,
              rgba(255, 255, 255, 0.1) 41px -19px,
              #fff 34px -50px,
              rgba(255, 255, 255, 0.1) 14px -71px 0 -1px,
              #fff 64px -21px 0 -1px,
              rgba(255, 255, 255, 0.1) 32px -85px 0 -1px,
              #fff 64px -90px,
              rgba(255, 255, 255, 0.1) 60px -67px 0 -1px,
              #fff 34px -127px,
              rgba(255, 255, 255, 0.1) -26px -103px 0 -1px;
  animation:starry 5s ease-in-out  infinite;
           
  
}
.star::after{
  content:'';
  width:100px;
  height:100px;
  position:absolute;
  top:-106px;
  border-radius:50%;
  box-shadow: #fff -25px 0;
  animation: moon 5s ease-in-out infinite ;
  transform-origin: 0 50%;

}
.sky2{
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  background: black;
  position:absolute;
  z-index: 2;
  animation:skychange2 10s  infinite linear both alternate;
}
.grass{
  height: 30%;
  background: seagreen;
}

.road{
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines{
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 50%;
}
.mario{
  position:absolute;
  top:-25%;
  left:0px;
  cursor: pointer;
   animation: drive_mario 5s both linear infinite,
              jump 5s ease infinite ;  
  }
  .luigi{
    position:absolute;
    top:25%;
    left:0;
    animation: drive_luigi 3s both linear infinite; 
  }

  .cloud{
      position:absolute;
      z-index: 3;
      
  }
  .cloud:nth-child(3){
    width: 100px;
    top:45%;
    opacity:0.5;
    animation:wind 80s linear infinite reverse

  }
  .cloud:nth-child(4){
    width:150px;
    top:20%;
    animation:wind 50s linear infinite reverse
  }

  
  
 
/* @keyframes drive{
  from{transform: translateX(0)}
  to{transform: translateX(700px)}
} */

/* .mario:hover{
  animation-name: drive;
  animation-duration: 3s;

} */
/*// ELEMENTS TO ANIMATE //*/

@keyframes drive_mario{
  0% {top:-25%; left:-100px;}
  /* 25%{top:-40px; left:100px}
  
  70%{top:-100px; left:500px} */
  
  100%{top:-25%; left:100%/*;background:red */} 

}
@keyframes drive_luigi{
  0% {top:25%; left:-100px;}
  /* 25%{top:40px; left:200px}
  50%{top:40px;left:450px}
  70%{top:40px;left:800px} */
  100%{top:25%;left:100%}
}
/*// KEYFRAMES //*/
@keyframes starry{
    50% { box-shadow: rgba(255, 255, 255, 0.1)  26px 7px 0 -1px,
              #fff -36px -34px 0 -1px,
             #fff -51px -34px 0 -1px,
               rgba(255, 255, 255, 0.1)  -52px 62px 0 -1px,
               rgba(255, 255, 255, 0.1)  14px -37px,
             #fff 41px -19px,
               rgba(255, 255, 255, 0.1)  34px -50px,
             #fff 14px -71px 0 -1px,
              rgba(255, 255, 255, 0.1)  64px -21px 0 -1px,
             #fff 32px -85px 0 -1px,
               rgba(255, 255, 255, 0.1) 64px -90px,
             #fff 60px -67px 0 -1px,
              rgba(255, 255, 255, 0.1) 34px -127px,
              #fff -26px -103px 0 -1px;}
      
}
@keyframes disappear{
  100%{display:none;}
}
@keyframes moon{
  50%{transform: rotate(10deg);}
}

@keyframes skychange{
  0%{background:black; }
  25%{background:black; }
  75%{background:skyblue; }
  100%{background:skyblue; }
}

@keyframes skychange2{
  0%{background:black; opacity:0; }
  25%{background:black; opacity:0; }
  75%{background:skyblue;opacity:1;}
  100%{background:skyblue;opacity:1;}
}
@keyframes wind{
  from{left:0}
  to{left:100%}
}
@keyframes jump{
  0%{top:-40px}
  45%{top:-40px}
  50%{top:-100px}
  55%{top:-40px}
  100%{top:-40px}

}



